.filter {
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.382);
  .filter1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.7rem;
    gap: 0.5rem;
    width: 20%;
    border: 1px solid rgba(103, 98, 98, 0.38);
    background-color: aliceblue;
    border-radius: 0.3rem;
  }
  .arrow {
    display: flex;
    gap: 0.5rem;
  }
}
